Repository ktnkk/blog.tech.v1: changes, and which lint-staged commands are due for each by the changed paths.
All: lint:txt, lint:md, prettier --write

.lintstagedrc.json:

{
  "*.md": ["lint:txt", "lint:md", "prettier --write"],
  "*.{yml,json}": ["prettier --write"]
}

perf(semantic-release): introduce semantic-release
  .github/dependabot.yml
  .github/workflows/release.yml
  .husky/commit-msg
  .husky/pre-commit
Due: prettier --write

Notes added by 'git notes add'
  bd122cc2b23ccffde9abb52ff294118c022d2420
Due: none

perf(textlint): implement caching
  .gitignore
  package.json
Due: prettier --write

Notes added by 'git notes add'
  35a2b5fb0ac4307f25aa7d76238c5e94a2ce4e05
Due: none

fix(20211010): edit content
  2021/1010/index.md
Due: lint:txt, lint:md, prettier --write

fix(lint staged): remove rule of lint
  .lintstagedrc.json
Due: prettier --write

Notes added by 'git notes add'
  5e472e61069abfee1ad04de2df6545bac05c5570
Due: none

fix(20211013): fix content
  2021/1013/index.md
Due: lint:txt, lint:md, prettier --write

Notes added by 'git notes add'
  f8ffd4dda28dbd47e76243df080244fff6532905
Due: none

feat(20220109): add new article
  2022/0109/01.jpg
  2022/0109/02.jpg
  2022/0109/03.jpg
  2022/0109/04.jpg
  2022/0109/05.jpg
  2022/0109/index.md
Due: lint:txt, lint:md, prettier --write

Notes added by 'git notes add'
  35103ec552f20943590be7d6b46f28acb8353cbe
Due: none

feat(20220115): add new article
  2022/0115/index.md
Due: lint:txt, lint:md, prettier --write

feat(20220116): add new article
  2022/0116/01.jpg
  2022/0116/index.md
Due: lint:txt, lint:md, prettier --write

Notes added by 'git notes add'
  d98b3a1e914b9d7e087334f3bc8cd431d9f4c6c8
Due: none
